<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<inchoo translate="label">
			<label>Inchoo Extensions</label>
			<sort_order>100</sort_order>
		</inchoo>
	</tabs>
	<sections>
		<sas translate="label">
			<label>Layer Navigation - sorting</label>
			<tab>inchoo</tab>
			<sort_order>1001</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>

			<groups>
				<layersorting translate="label">
					<label>Layer Navigation - sorting</label>
					<frontend_type>text</frontend_type>
					<sort_order>1001</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>

					<fields>
						<prefix translate="label">
							<label>Block identifier prefix:</label>
							<comment>The resulting block identifier would be [yourprefix]_attribute_code</comment>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</prefix>
					</fields>
				</layersorting>
			</groups>
		</sas>
	</sections>
</config>
